@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Desarrollador";
}
<link rel="stylesheet" href="~/css/ProgrammerIndex.css" type="text/css" />
<div id="InfoBussines">
    <div id="Title" style="border: 4px dotted; border-color: #7D182D;text-align:center">
        <h3>DESARROLLADOR</h3>
    </div>
    <div class="about-section">
        <h2>Raul Adrian Osuna Davizon</h2>
        <h4>Información de contacto</h4>
        <div class="row">
            <div class="col">
                <a href="https://www.linkedin.com/in/raul-osuna/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    Perfil de Linkedin
                </a>
            </div>
        </div>
    </div>

</div>